[submodule "git-cinnabar"]
	path = git-cinnabar
	url = https://github.com/glandium/git-cinnabar.git
[submodule "diff-so-fancy"]
	path = diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
